<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
        content="width=device-width,
        initial-scale=1.0" />
        <title>Next website</title>
        <link rel="stylesheet" href="styles02.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Kumbh+Sans:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <body>
        <!--Navbar section-->
        <nav class="navbar">
            <div class="navbar__container">
                <img class="logo" src="jamLogo.png">
                <a href="/layer03" id="navbar__logo">JAMFAM</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    
                    <li class="navbar__item">
                        <a href="/layer03" class="navbar__links"> Profile </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/" class="navbar__links"> JamFam </a>
                    </li>
                    
                    </li>
                </ul>
            </div>
        </nav>

        <!--Hero section-->
        <div class="main">
            <div class="main__container">
                <div class="main__content">
                    <h2>Profile</h2>
                    <h4>
                        <br>Username : Abdullah123</br>
                        <br>Name : Abdullah</br>
                        <!--<br>About : Meet a petite and charming young lady who embodies a captivating blend of qualities. She stands on the shorter side but radiates a warm sweetness that's utterly endearing. With an insatiable thirst for knowledge, she's a studious soul, always eager to learn and grow. Her captivating beauty is enhanced by a smile that could light up any room. Beneath her gentle exterior lies a fierce competitor and a relentless hard worker, determined to achieve her goals. Yet, when it's time to unwind, she transforms into a lively party enthusiast, and her passion for life extends to being a true foodie, relishing the diverse flavors of the world.</br>-->
                    </h4>
                    <div class="yourJams">
                        Your jams....
                    </div>
                    <div>
                        

                    </div>
                </div>
                <div class="main__img--container">
                    <img src="poet2.png" alt="pic" id="main__img">
                </div>
            </div>
        </div>
        <script src="app01.js"></script>
    </body>
</html> 